page-instagram {
    .rowcol {
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .date {
        margin-left: 5px;
        font-size: 0.8em;
        color: #ccc;
    }
    .chip-text-work {
        margin-top: 2px;
    }
}