page-home {
    .tab-header {
        padding-top: 20px;
        color: white;
        text-align: center;
        background: #03A9F5;
        background-size: 100%;
        background-position: center center;
        padding-bottom: 20px;
    }
    .circular {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid;
        background: url(../assets/avatar.jpg) no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .p-home {
        text-align: justify;
    }
    .bio {
        padding-left: 35px;
        padding-right: 15px;
    }
}