page-intro {
    .tab-header {
        padding-top: 20px;
        color: white;
        text-align: center;
        // background: #f53d3d;
        background: url(../assets/1.jpg);
        background-size: cover;
        background-position: center center;
        padding-bottom: 60px;
    }
    .overlap {
        margin-top: -40px;
    }
    .circular {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid;
        background: url(../assets/avatar2.jpg) no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .p-home {
        text-align: justify;
    }
    .bio {
        padding-left: 35px;
        padding-right: 15px;
    }
    .card-header-2 {
        background-color: #f53d3d;
        color: #fff;
        font-size: 1.5em;
        // padding: 0px;
        // margin: 0px;
    }
    .card-slide {
        margin-top: 10px;
        height: 450px;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .btn-seminar {
        // margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
    }
    .slide-3 {
        color: #f53d3d;
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}