page-github {
    .test {
        margin-top: 210px;
        // padding-bottom: 200px;
    }
    .tab-header {
        margin-top: 30px;
        color: #658585;
        // font-size: 1.53em;
        // color: white;
        // text-align: center;
        // background: #f53d3d;
        // background: url(../assets/1.jpg);
        // background-size: cover;
        // background-position: center center;
        // padding-bottom: 60px;
    }
    .card-header-2 {
        background-color: #FE686A;
        color: #fff;
        // font-size: 1em;
        // padding: 0px;
        // margin: 0px;
    }
    .card-repo {
        margin-top: 3px;
    }
    .bio {
        color: #c0c5c5;
    }
    .col-chip {
        padding: 5px;
    }
    .circular {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        -webkit-border-radius: 111px;
        -moz-border-radius: 111px;
        background: no-repeat;
    }
    .hide {
        display: none;
    }
    .errorMsg {
     
        color: #658585;
        margin-top: 100px;
        padding-top: 100px;
       
    }
}